/* STYLE FOR PAGE ADD RECIPE */
/* set background image */
.background-image {
    height: 100%;
    background-image: url("../images/addRecipeBack.jpg");
    background-size: cover;
    width: 100%;
    z-index:-1;
    position: fixed;
    top:0;
}
/* place dark div to highlit text in transparent navigation bar; height needs to be same as navigation bar */
.menushadow {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: rgba(000,000,000,0.5)
}
/* form container */
.my-form-container{
    margin-top: 150px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 5%;
    margin-bottom: 50px;
}
/* text on the top of the form container */
.head-captions {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    background-color: #5e8b4a;
    border-radius: 5px;
}

/* image visible when user select file to upload */
.preview_image {
    width: 200px;
    height: 200px;
}
/* part of the form with inserting image */
.meal_image_div {
    height: 100%;
}

.icon-size {
    font-size: 2rem;
}

.form-file-button:hover {
    cursor: pointer;
}
