.add_recipe_container {
    text-align: center;
    height: 200vh;
    background-image: url("../images/addRecipeBack.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    background-position: center;


}


/* #5e8b4a
#ca2545
#a57255
#0a0904 */