.background-image {
    height: 100%;
    background-image: url("../images/addRecipeBack.jpg");
    background-size: cover;
    width: 100%;
    z-index:-1;
    position: fixed;
    top:0;

}

.menushadow {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: rgba(000,000,000,0.5)
}

.my-form-container{
    margin-top: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5%;
}

.head-captions {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    background-color: #008000;
}


.ingredient_table tbody, .ingredient_table th {
    display: flex;
}

.ingredient_table select {
    height: 31px;
}

.preview_image {
    width: 200px;
    height: 200px;
}

.meal_image_div {
    height: 100%;
}

.icon-size {
    font-size: 2rem;
}

.form-file-button:hover {
    cursor: pointer;
}

/* #5e8b4a
#ca2545
#a57255
#0a0904 */