/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ STYLE FOR THE BASE.HTML - PART VISIBLE IN ALL PAGES▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;;
    color: #0a0904;

}

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Archivo', sans-serif; 
}

a:hover {
    color: #74000A;
    cursor: pointer;
}

/* overwright bootstrap btn class to change font-size and weight */

.btn {
    font-size: 14px;
    font-weight: 100;
}

/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ NAVIGATION BAR ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
/* navigation bar style */

/* navigation bar class which is set when page is scrolled down,  */
.main-navbar {
    background-color: #5e8b4a;
    padding: 1px;
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.8s;
}
/* overwright bootstrap navbar class to remove border in clicked links */
.navbar {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.0);
}
/* navigation bar in default - before scroll or when page is on the top */
.main-nav-def {
    background-color: transparent;
    padding: 15px;  
    height: 100px;
    width: 100%;
    color: #74000A;
    transition: 1s;
}

.brand-logo{
    position: absolute;
    left: 10%;
}

.nav-links {
    position: absolute;
    right: 10%;
    
}
/* links in main navbar setted to be inline(row directtion) and with brake between(padding)*/
.navbar-nav {
    flex-direction: row;
}
.navbar-nav .nav-link {
    padding-right: 1rem;
}
/* linsk in navbar */
.main-navbar ul a {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #ffffff;

}
/* links in navbar when hover */
.main-navbar ul a:hover {
    background-color: transparent;
    color: #74000A;
    text-decoration: none;
}
/* button which open navigation menu - visible on small devices */
.mobile_menu_btn {
    display: none;
font-size: 2rem;
color: #5e8b4a;
background: #ffffff;
border-radius: 5px;
height: 50px;
width: 50px;
text-align: center;
position: absolute;
right: 10%;
}
/* mobile navigation menu source w3schools.com*/
.mobile_fs_nav {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1040; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(94,139,74); /* Black fallback color */
    background-color: rgba(94,139,74, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  .mobile_nav_content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  .mobile_fs_nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  .mobile_fs_nav a:hover, .mobile_fs_nav a:focus {
    color: #74000A;
   }

  /* Position the close button (top right corner) */
.mobile_fs_nav .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

/* logo in main navigation bar */
.logo-img {
    height: 64px;
    width: 64px;
    vertical-align: top;
}
.brand-logo {
    
    color: #ffffff;
}

.logo-caption {
    display: inline;
}

.brand-logo:hover {
    color: #74000A;
    text-decoration: none;
}
/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ FOOTER ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.my-footer-class {
    background-color: #3B3C36;
    color: #ffffff;
}

footer hr {
    margin-left: auto;
    margin-right: auto;
}

/* links in footer */
.my-list-style > li:not(:first-child)::before {
    content: "|";
}

.my-footer-class a {
    color: #ffffff;
}

.my-footer-class a:hover {
    color: #5e8b4a;
}

/* contact form submit button */
.btn-mycolor {
    background-color: #5e8b4a;
    color: #ffffff;
    font-size: 16px;
}

.btn-mycolor:hover {
    background-color: #ffffff;
    color: #5e8b4a;
}


/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ STYLE FOR FLASH MESSAGES ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.flash-msg{
position: fixed;
width: 25%;
z-index: 100;
}
/* ADJUST SCROLL PADDING - ANCHORS TO SPECIFIED SECTIONS ARE ALWAYS GOES TO THE TOP OF PAGE AND ARE HIDEN BY MENU, by setting scroll padding, anchors to the id in pages are always be displayed below the navigation bar */
html {
    scroll-padding-top: 180px; /* height of sticky header */
  }