
/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ HEADER ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 80vh;
}

#myMainVideo {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    max-height: 100vh;
    z-index: -1;
}

.video-content {
    margin-top:20vh;
    margin-bottom: 25vh;
    height: 50vh;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 5%;
    color: #5e8b4a;
}

.video-content h1, .video-content p {
    background-color: white;
    margin: -1%;
    padding: 1%;
}

.video-content p {
    padding-bottom: 4%;
}
.my-4 {
    margin-top: 2.5rem!important;
}
/* button displayed on top of video */
.my-btn-class {
    background-color: #74000A;
    margin: -2%;
    color: #ffffff;
    font-size: 2rem;
    height: 64px;
    
}
.my-btn-class:hover {
    background-color: #ffffff;
    color: #74000A;
}
.my-btn-class:focus {
    background-color: #ffffff;
    color: #74000A;
    outline: .5px solid #74000A;
}
/* video control button */
/* 
.headVideo {
    position: relative;
} */

.video-control {
    color: #5e8b4a;

}

#myVideoBtn:hover {
    color: #74000A;
    background-color: transparent;
    cursor: pointer;
}


/* button sticked to the window for adding new recipe */
.stick-btn {
    position: fixed;
    bottom: 15%;
    right:2%;
    background-color: #5e8b4a;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    border: solid 2px #74000A;
    z-index: 10;
}

.stick-btn:focus {
    outline: none;
    background-color: #a57255;
}


/* play/stop video icon */

i.medium {
    font-size: 4rem;
}

/* recipes */

.ingredients_list {
    list-style: none;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.recipe-col {
    position:relative;
    text-align: center;
    border: 3px solid #000000;
    margin-bottom: 5%;
    padding: 0;
}

.meal_image {
    width: 60%;
    padding: auto;
}

.meal_icons {
    position: absolute;
    padding: 2px;
    background-color: #ffffff;
    right: 0;
    bottom: 0;
    font-size: 1.1rem;
}

.meal_description {
    background-color: rgba(250,250,250, .6);
    width: 100%;
    font-size: 1.2rem;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
}
.recipe_container a {
    color: #74000A;
}

.recipe_container a:hover {
    color: #ffffff;
    background-color: #74000A;
}

/* <!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ NAVIGATION BAR IN TOP OF THE SECTION ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ --> */
.nav-pills .midl-nav-link {
    margin: 0 0 5% 0;
    font-size: 1.5rem;
    background-color: #74000A;
    color: #ffffff;
    border: solid 1px #ffffff;
}

.nav-pills .midl-nav-active, .nav-pills .midl-nav-link:hover {
    background-color: #ffffff;
    color: #74000A;
    border: solid 1px #74000A;
}

/* Hide dropdown button on default and show in screen wider than 600 px(is set in media_styles.css) */
.lg-hide {
    display:none;
}
/* Drodpown links visible in screens wider than 600 px, set the width to full screen width and change margin to 0 */
.midl-nav-dropdown, .nav-pills .midl-nav-dropdown {
    width: 100vw;
    margin: 0;
}