/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ MAIN STYLE + STYLE BASE.HTML ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
/* style for base.html and index.html webpages */
body {
    height: 100%;
    width: 100%;
    font-family: 'Judson', serif; 
    background-color: #ffffff;;
    color: #0a0904;

}

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Archivo Black', sans-serif; 
}

.lg-hide {
    display: none;
}

/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ HEADER ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header {
    margin-bottom: 0;
    padding-bottom: 0;
}

#myMainVideo {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    max-height: 100vh;
    z-index: -1;
}

.video-content {
    margin-top:10%;
    margin-bottom: 15%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 5%;
    color: #5e8b4a;
}

.video-content h1, .video-content p {
    background-color: white;
    margin: -1%;
    padding: 1%;
}

.video-content p {
    padding-bottom: 4%;
}
.my-4 {
    margin-top: 2.5rem!important;
}
/* button displayed on top of video */
.my-btn-class {
    background-color: #74000A;
    margin: -2%;
    color: #ffffff;
    font-size: 2rem;
    height: 64px;
    
}
.my-btn-class:hover {
    background-color: #ffffff;
    color: #74000A;
}
.my-btn-class:focus {
    background-color: #ffffff;
    color: #74000A;
    outline: .5px solid #74000A;
}
/* video control button */
/* 
.headVideo {
    position: relative;
} */

.video-control {
    color: #5e8b4a;

}

#myVideoBtn:hover {
    color: #74000A;
    background-color: transparent;
    cursor: pointer;
}


/* button sticked to the window for adding new recipe */
.stick-btn {
    position: fixed;
    bottom: 15%;
    right:2%;
    background-color: #5e8b4a;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    border: solid 2px #74000A;
    z-index: 10;
}

.stick-btn:focus {
    outline: none;
    background-color: #a57255;
}

/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ NAVIGATION BAR ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
/* navigation bar style */
/* default style for navigation bar */

.main-navbar {
    background-color: #5e8b4a;
    padding: 1px;
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.8s;
    
}

.navbar {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.0);

}

.main-nav-def {
    background-color: transparent;
    padding: 15px;  
    height: 100px;
    width: 100%;
    color: #74000A;
    transition: 1s;
}

.navbar-expand-lg {
    justify-content: flex-end;

}

.brand-logo{
    position: absolute;
    left: 10%;
}

.nav-links {
    position: absolute;
    right: 10%;
}

.main-navbar ul a {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #ffffff;

}

.main-navbar ul a:hover {
    background-color: transparent;
    color: #74000A;
    text-decoration: none;
}


/* logo in navigation bar */
.logo-img {
    height: 64px;
    width: 64px;
    vertical-align: top;
}
.brand-logo {
    
    color: #ffffff;
}

.logo-caption {
    display: inline;
}

.brand-logo:hover {
    color: #74000A;
    text-decoration: none;
}

/* play/stop video icon */

i.medium {
    font-size: 4rem;
}



/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ FOOTER ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.my-footer-class {
    background-color: #a57255;
}
/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ MEDIA STYLE ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
/* change logo size to fit in navigation bar */
@media (max-width: 600px) {
    .logo-img {
        height: 56px;
        width: 56px;
    }
/* display video captions below vide on mobile */
    .video-content {
        position: static;
        width: 100%;
    }
    /* class to hide elements in small devices */
    .sm-hide {
        visibility: hidden;
    }
    /* show drop button instead of all buttons as navigation in section */
    .sm-show {
        display: block;
    }
    #myTab {
        display: block;
        
    }
    /* change color of the navigation in section menu */
    .nav-pills .nav-link {
        background-color: #74000A;
        color: #ffffff;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        background-color: #ffffff;
        color: #74000A;
    }

/* hide logo caption in mobile view */
@media (max-width : 350px) {
    .logo-caption {
        display: none;
    }
}

@media (min-width: 601px) {
    .collapse:not(.show) {
        display: block;
    }
}

@media (min-width: 992px){}
.navbar-expand-lg {
    justify-content: flex-end;
}
}