/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ MAIN STYLE + STYLE BASE.HTML ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
/* style for base.html and index.html webpages */
body {
    height: 100%;
    width: 100%;
    font-family: 'Judson', serif; 
    background-color: #ffffff;;
    color: #0a0904;

}

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Archivo Black', sans-serif; 
}

.lg-hide {
    display: none;
}

/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ HEADER ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header {
    margin-bottom: 0;
    padding-bottom: 0;
}

#myMainVideo {
    position: static;
    margin: 0 auto 0 auto;
    width: 100%;
    max-height: 80vh;
    z-index: -1;
}

.video-content {
    position: absolute;
    top: 20%;
    width: 80%;
    right: 10%;
    left: auto;
    text-align: center;
    padding: 5%;
    color: #5e8b4a;
}

.video-content h1, .video-content p {
    background-color: white;
    margin: -1%;
    padding: 1%;
}

.video-content p {
    padding-bottom: 4%;
}
.my-4 {
    margin-top: 2.5rem!important;
}
/* button displayed on top of video */
.my-btn-class {
    background-color: #74000A;
    margin: -2%;
    color: #ffffff;
    font-size: 2rem;
    height: 64px;
    
}
.my-btn-class:hover {
    background-color: #ffffff;
    color: #74000A;
}
.my-btn-class:focus {
    background-color: #ffffff;
    color: #74000A;
    outline: .5px solid #74000A;
}


/* button sticked to the window for adding new recipe */
.stick-btn {
    position: fixed;
    bottom: 15%;
    right:2%;
    background-color: #5e8b4a;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    border: solid 2px #74000A;
}

.stick-btn:focus {
    outline: none;
    background-color: #a57255;
}

/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ NAVIGATION BAR ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
/* navigation bar style */

a:hover {
    color: #ffffff;
    background-color: #74000A;
    text-decoration: none;
}

.main-navbar {
    background-color: #5e8b4a;
}


.main-navbar ul a {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.main-navbar ul a:hover {
    background-color: #74000A;
    color: #ffffff;
    text-decoration: none;
}


/* logo in navigation bar */
.logo-img {
    height: 64px;
    width: 64px;
    vertical-align: top;
}
.logo-caption {
    display: inline;
}


/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ NAVIGATION BAR IN SECTION ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.nav-pills .nav-link {
    margin: 0;
    height: 100%;
    margin: 0;
    font-size: 1.8rem;
    background-color: #ffffff;
    color: #0a0904;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #74000A;
}

section ul li {
    border: 1px solid #a57255;
}

/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ FOOTER ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.my-footer-class {
    background-color: #a57255;
}
/*-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ MEDIA STYLE ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
/* change logo size to fit in navigation bar */
@media (max-width: 600px) {
    .logo-img {
        height: 56px;
        width: 56px;
    }
/* display video captions below vide on mobile */
    .video-content {
        position: static;
        width: 100%;
    }
    /* class to hide elements in small devices */
    .sm-hide {
        visibility: hidden;
    }
    /* show drop button instead of all buttons as navigation in section */
    .sm-show {
        display: block;
    }
    #myTab {
        display: block;
        
    }
    /* change color of the navigation in section menu */
    .nav-pills .nav-link {
        background-color: #74000A;
        color: #ffffff;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        background-color: #ffffff;
        color: #74000A;
    }
}
/* hide logo caption in mobile view */
@media (max-width : 350px) {
    .logo-caption {
        display: none;
    }
}

@media (min-width: 601px) {
    .collapse:not(.show) {
        display: block;
    }
}