<!-- Page for adding recipe - it is extend the base.html -->
{% extends 'base.html' %}
{% block content %}
<div class="menushadow"></div>
<div class="background-image">
</div>
<div class="head-captions">
<h2>Share your meal recipe with others.</h2>
<p>It is so easy, fill in all fields and press submit button. Your recipe will be accesibly in recipe book immediatly.</p>
</div>
<!-- Inserting recipe form -->

    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
        
    </form>


{% endblock %}

