<!-- Page for adding recipe - it is extend the base.html -->
{% extends 'base.html' %}
{% block content %}
<div class="menushadow"></div>
<div class="background-image">
   <div class="head-captions">
      <h2>Share your meal recipe with others.</h2>
      <p>It is so easy, fill in all fields and press submit button. Your recipe will be accesibly in recipe book
         immediatly.
      </p>
   </div>
   <!-- Inserting recipe form -->
   <div class="container">
      <form action="{{ url_for('insert_recipe') }}" method="POST" enctype="multipart/form-data"
         class="insert_recipe_form">
         
         <div class="mb-3 row">
            <div class="col-sm-12">
               {{ form.recipe_name.label(class_='form-label') }}
               {{ form.recipe_name(class_='form-control form-control-lg', place_holder='Type recipe name here') }}
            </div>
         </div>
         </form>
   </div>
</div>
{% endblock %}