<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Share or find your perfect meal</title>
    <!-- link to main css style -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/mainStyle.css')}}">
</head>
<header>
    <!-- Full screen movie in web header -->
    <video autoplay muted loop id="myMainVide">
        <source src="{{url_for('static', filename='video/main_video.mp4')}}" type="video/mp4">
    </video>
</header>
</html>