<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <title>Personalized cookbook</title>
   <!-- Set web icon -->
   <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='images/logo-img-2.jpg')}}">
   <!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ GOOGLE ICONS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
   <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ GOOGLE FONTS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
   <!-- import font archivo black and judson from google fonts -->
   <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Judson:wght@700&display=swap"
      rel="stylesheet">
   <!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ BOOTSTRAP 5 CDN CSS LINK ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
   <!-- Font Awesome -->
   <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
   <!-- MDB -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.css" rel="stylesheet" />
   <!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ OWN CSS STYLE ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
   <!-- link to base css style -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base_style.css')}}">
   <!-- link to my homeStyle file -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home_style.css')}}">
   <!-- link to my addRecipeStyle file -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/addRecipeStyle.css')}}">
   <!-- link to my media style file -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/media_style.css')}}">
   <!-- link to my single recipe page style file -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/singl_recipe.css')}}">

</head>

<body>
   <!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ NAVIGATION TRANSPARENT BAR CHANGED TO GREEN WHEN SCROLL AND CHANGED TO BUTTON ON SMALL DEVICES ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
   <nav class="navbar fixed-top navbar-expand-lg main-navbar main-nav-def" id="main-nav-bar">
      <a class="navbar-brand brand-logo" href="{{url_for('home')}}">
         <img src="../static/images/logo-img-2.jpg" class="d-inline-block align-top logo-img" alt="" loading="lazy">
         <h5 class="logo-caption">Cookbook</h5>
      </a>
      <!-- mobilr/small device menu button -->
      <a class="icon mobile_menu_btn" onclick="openNav()">
         <i class="fa fa-bars"></i>
      </a>
      <!-- links visible on large screen -->
      <div class="nav-links">
         <ul class="navbar-nav mb-2 mb-lg-0">

            <li class="nav-item">
               <a class="nav-link" href="{{url_for('home', _anchor='recipes')}}">Recipes</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{url_for('add_recipe')}}">Add recipe</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#contactForm">Contact</a>
            </li>
         </ul>
      </div>
   </nav>
   <!-- links visible on mobile full screen menu -->
   <div class="mobile_fs_nav" id="mobile_nav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="mobile_nav_content">
         <a href="{{url_for('home')}}">Home</a>
         <a href="{{url_for('home', _anchor='recipes')}}" onclick="closeNav()">Recipes</a>
         <a href="{{url_for('add_recipe')}}">Add recipe</a>
         <a href="#contactForm" onclick="closeNav()">Contact</a>
      </div>
   </div>
   <!-- div with flash information and warning messages -->
   <div class="flash-msg">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
         <span>{{ message }}</span>
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
      </div>
      {% endfor %}
   </div>
   {% block content %}
   {% endblock %}
   <!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ FOOTER BY BOOTSTRAP ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
   <footer class="page-footer text-center text-lg-left pt-4 my-footer-class">
      <!-- Grid container -->
      <div class="container">
         <!-- footer menu -->
         <ul class="list-unstyled list-inline mb-0 text-center my-list-style">
            <li class="list-inline-item">
               <a href="{{url_for('home')}}" class="text-uppercase">Home</a>
            </li>
            <li class="list-inline-item">
               <a href="{{url_for('home', _anchor='recipes')}}" class="text-uppercase">Recipes</a>
            </li>
            <li class="list-inline-item">
               <a href="#contactForm" class="text-uppercase">Contact</a>
            </li>
            <li class="list-inline-item">
               <a href="{{url_for('add_recipe')}}" class="text-uppercase">Add Recipe</a>
            </li>
         </ul>

         <hr class="mb-5 mt-1 w-50">
         <!-- CONTAT FORM IN FOOTER-->
         <h5 class="text-center mb-3">Leave the message below</h5>
         <form class="contact text-center" id="contactForm" action="{{ url_for('contact') }}" method="POST">
            {{ contactForm.csrf_token }}
            <div class="mb-3 row">
               {{ contactForm.name.label(class_='col-form-label col-2 col-md-1 offset-md-2')}}
               <div class="col-8 col-md-6">
                  {{ contactForm.name(class_='form-control form-control-lg', placeholder='what is your name?') }}
               </div>
            </div>
            <div class="mb-3 row">
               {{ contactForm.email.label(class_='col-form-label col-2 col-md-1 offset-md-2') }}
               <div class="col-8 col-md-6">
                  {{ contactForm.email(class_='form-control form-control-lg', placeholder='on which address i can answer to you') }}
               </div>
            </div>
            <div class="mb-3 row">
               {{ contactForm.subject.label(class_='col-form-label col-2 col-md-1 offset-md-2') }}
               <div class="col-8 col-md-6">
                  {{ contactForm.subject(class_='form-control form-control-lg', placeholder='main reason of your message') }}
               </div>
            </div>
            <div class="mb-3 row">
               {{ contactForm.message.label(class_='col-form-label col-2 col-md-1 offset-md-2') }}
               <div class="col-8 col-md-6">
                  {{ contactForm.message(class_='form-control form-control-lg', rows='5', placeholder='write me') }}
               </div>
            </div>
            {{ contactForm.submit(class_="btn btn-mycolor") }}
         </form>

         <hr class="mb-1 mt-3 w-75">
         <!-- Copyright -->
         <div class="text-center">
            © 2020 Copyright:
            <a href="https://cdins-msp3-recipe-book.herokuapp.com/">Cooking book</a>
         </div>
      </div>
      <!-- Copyright -->
   </footer>
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ MATERIALIZE CDN JAVASCRIPT LINK - is needed for display number of selection in range in add recipe page (preparation time and amount of portions) ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ BOOTSTRAP 5 ALPHA JS LINK - especially needed for dropd down categories menu ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>

   <!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ OWN JAVASCRIPT LINK ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
   <script src="{{url_for('static', filename='script/script.js')}}"></script>
</body>

</html>