<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/error.css">
</head>
<body>
    <img src="\static\images\404_error.jpg" alt="Error 404 image" class="error-img">
    <div class="back-btn">
        <h5>Go back to <a href="https://cdins-msp3-recipe-book.herokuapp.com/">Cooking book</a> home page</h5>
    </div>
</body>
</html>