{% extends 'base.html' %}
{% block content %}

<!-- Full screen movie in web header -->
<header>
    <video autoplay muted id="myMainVideo" >
        <source src="{{url_for('static', filename='video/main_video.mp4')}}" type="video/mp4">
    </video>
    <div class="video-content">

        <h1 class="display-4">No idea for dinner!? No problem!</h1>
        <p class="lead">Find delicious meal, print recipe and cook it!</p>
        <a class="btn btn-lg my-btn-class" href="#myTab">Go to recipes</a>
        <hr class="my-4">
        <!-- <p>You have recipe to share with others?! Click below button and add it to the webpage.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Add recipe</a>
      </div> -->
    </div>
    
    
</header>

<button type="button" class="btn-lg btn-rounded stick-btn">Add recipe!</button>
<section>
<!-- Nav pills -->
<ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#home"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="profile-tab"
        data-toggle="tab"
        href="#profile"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
        >Profile</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="messages-tab"
        data-toggle="tab"
        href="#messages"
        role="tab"
        aria-controls="messages"
        aria-selected="false"
        >Messages</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link my-nav-link"
        id="settings-tab"
        data-toggle="tab"
        href="#settings"
        role="tab"
        aria-controls="settings"
        aria-selected="false"
        >Settings</a
      >
    </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      ...
    </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      tab 2
    </div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
      .tab 3..
    </div>
    <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
      ...
    </div>
  </div>
</section>
<footer class="text-center text-lg-left">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(165, 114, 85, 0.5);">
      © 2020 Copyright:
      <a class="text-dark" href="https://cdins-msp3-recipe-book.herokuapp.com/">Cooking book</a>
    </div>
    <!-- Copyright -->
  </footer>

{% endblock %}