{% extends 'base.html' %}
{% block content %}

<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ HEADER WITH VIDEO AND CAPTIONS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<header>
  <button type="button" class="btn-lg btn-rounded stick-btn sm-hide">Add recipe!</button>
  <div class="headVideo">  
  <video autoplay muted id="myMainVideo" >
        <source src="{{url_for('static', filename='video/main_video.mp4')}}" type="video/mp4">
    </video>
    <div class="video-control">
    <a id="myVideoBtn" onclick="myFunction()"><i class="medium material-icons">pause_circle_filled</i></a>
  </div>
  </div>
    <div class="video-content">

        <h1 class="display-4">No idea for dinner!? No problem!</h1>
        <p class="lead">Find delicious meal, print recipe or read on your device and cook it!</p>
        <a class="btn btn-lg my-btn-class" href="#home">Go to recipes</a>
        <hr class="my-4">
        
    </div>
    
    
</header>


<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ SECTION ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<section>
    <!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ NAVIGATION PILLS BY BOOTSTRAP ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<!-- Nav pills collapsed in one button on small device-->
<a class="btn btn-lg my-btn-class lg-hide sm-show" data-toggle="collapse" href="#nav-pils-collapsed" role="button" aria-expanded="false" aria-controls="nav-pils-collapsed">Toggle first element</a>

<div class="collapse lg-show" id="nav-pils-collapsed">
  
<ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#home"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="profile-tab"
        data-toggle="tab"
        href="#profile"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
        >Profile</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="messages-tab"
        data-toggle="tab"
        href="#messages"
        role="tab"
        aria-controls="messages"
        aria-selected="false"
        >Messages</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link my-nav-link"
        id="settings-tab"
        data-toggle="tab"
        href="#settings"
        role="tab"
        aria-controls="settings"
        aria-selected="false"
        >Settings</a
      >
    </li>
  </ul>
</div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      
    </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      tab 2
    </div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
      .tab 3..
    </div>
    <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
      ...
    </div>
  </div>
</section>

<!-- ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ FOOTER BY BOOTSTRAP ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ -->
<footer class="page-footer text-center text-lg-left pt-4 my-footer-class">
    <!-- Grid container -->
    <div class="container">
          <ul class="list-unstyled list-inline mb-0 text-center">
            <li class="list-inline-item">
              <a href="#!" class="text-dark text-uppercase">Links</a>
            </li>
            <li class="list-inline-item">
              <a href="#!" class="text-dark text-uppercase">Links</a>
            </li>
            <li class="list-inline-item">
              <a href="#!" class="text-dark text-uppercase">Links</a>
            </li>
            <li class="list-inline-item">
              <a href="#!" class="text-dark text-uppercase">Links</a>
            </li>

          </ul>
        </div>
        
  <hr class="my-1">
    <!-- Copyright -->
    
    <div class="text-center p-3" style="background-color: rgba(165, 114, 85, 0.5);">
      © 2020 Copyright:
      <a class="text-dark" href="https://cdins-msp3-recipe-book.herokuapp.com/">Cooking book</a>
    </div>
    <!-- Copyright -->
  </footer>

{% endblock %}