<!-- HTML TEMPLATE for email with recipe, DATA IS POPULATED FROM MONGOdb -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{recipe.recipe_name}}</title>
    <!-- link to my single recipe page style file -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/singl_recipe.css')}}">
</head>

<body>

    <h2 class="text-center">{{recipe.recipe_name}}</h2>
    <p>{{recipe.meal_description}}</p>
    <ul class="mealInfo">
        <li>Preparation time: {{recipe.preparation_time}} min</li>
        <li>Portions: {{recipe.portions}}</li>
        <li>Meal type: {{recipe.meal_type}}</li>
        <li>Number of ingredients: {{recipe.amount_of_ingred}}</li>
    </ul>
    <h5>Ingredients</h5>
    <p>number of ingredients: {{recipe.amount_of_ingred}} </p>
    <ol class="ingredients-list">
        {% for key, value in ingredients.items() %}
        {% if 'name' in key %}
        <li class="ingredient-name">{{ value }}:
            {% elif 'amount' in key %}
            {{ value }}
            {% elif 'measure' in key %}
            {{ value }}</li>
        {% endif %}
        {% endfor %}
    </ol>
    <div class="prep-cont">
        <h5>Preparation</h5>
        <ol>
            {% for key, value in recipe.items() %}
            {% if 'preparation' in key and 'step' in key %}
            <li>{{value}}</li>
            {% endif %}
            {% endfor %}
        </ol>
    </div>


</body>

</html>