<!-- SINGLE RECIPE PAGE - EXTENSION OF BASE.HTML -->

{% extends 'base.html' %}
{% block content %}
<!-- grey layer under the transparent menu to make menu text more visible -->
<div class="menushadow"></div>
<!-- display recipe from mongoDB -->
<div class="container single-recipe-cont" id="recipe-area">
    <div class="row">
        <div class="col-12 singl-recipe-head">
            <h2 class="text-center">{{recipe.recipe_name}}</h2>
            {% if recipe.meal_image == error %}
        <img class="meal_image" src="{{url_for('static', filename='images/def_meal_img.jpg')}}" alt="meal image">
            {% else %}
            <img class="meal_image" src="{{url_for('static', filename='uploaded_img/'+recipe.meal_image)}}"
                alt="meal image">
            {% endif %}
            <p>{{recipe.meal_description}}</p>
            
        </div>
        <div class="col-12 col-md-6 offset-md-3 singl-recipe-body">
            <!-- Create loop for to display all ingredients in a list -->
            <h4 class="text-center">Ingredients:</h4>
            <p>number of ingredients: {{recipe.amount_of_ingred}} </p>
            <ol class="ingredients-list">
                {% for key, value in ingredients.items() %}
                {% if 'name' in key %}
                <li class="ingredient-items">
                    {{value}}: 
                        {% elif 'amount' in key %}
                        {{ value }} 
                        {% elif 'measure' in key %}
                        {{ value }}</li>
                
               
                {% endif %}
                {% endfor %}
            </ol>
        </div>
            <!-- Create loop for to display all preparation steps in a list -->
            <div class="col-12 col-md-8 offset-md-2 singl-recipe-body">
            <h4 class="text-center">Preparation:</h4>
            <ol>
                {% for key, value in recipe.items() %}
                {% if 'preparation' in key and 'step' in key %}
                <li>{{value}}</li>
                {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
<!-- ACTION BUTTONS FOR PRINT/SEND AND DOWNLOAD RECIPE -->
<div class="control-btns text-center">
    <!-- print recipe -->
    <button onclick="printRecipe()" class="btn btn-dark mb-3"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-printer-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5z"/>
        <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
        <path fill-rule="evenodd" d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
      </svg>  Print recipe</button>
      <!-- send recipe by email - form -->
    <form class="mailRecipe text-center mb-3" action="/send-recipe-to-email/{{recipe.recipe_name}}" method="POST">
                {{ mailRecipe.csrf_token }}
                {{ mailRecipe.submit(class_="btn btn-dark mb-1 my-send-rc-btn")}}
                {{ mailRecipe.emailto(class_='form-control', placeholder='email@address.com') }}
    </form>
    <!-- download recipe as pdf - button linked to pdf_template function which is not work on heroku, plese look to app.py for more information about, 
            Please uncomment on local machine if needed -->
    <!-- <a href="/pdf/{{recipe.recipe_name}}" class="btn btn-dark mb-5">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-arrow-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5z"/>
          </svg>  Download as PDF
        </a> -->
        <a class="btn btn-dark mb-3" href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-fill-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zM6.854 6.146a.5.5 0 1 0-.708.708L7.293 8 6.146 9.146a.5.5 0 1 0 .708.708L8 8.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 8l1.147-1.146a.5.5 0 0 0-.708-.708L8 7.293 6.854 6.146z"/>
          </svg>  Remove recipe</a>
          <a class="btn btn-dark mb-3" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg>  Edit recipe</a>
</div>
{% endblock %}